<%- include('../../partials/head') %>
<%- include('../../partials/nav') %>


<main>
    <div>
        buttons to nav back / edit / interact go here<br>
        make this an if/else?    
    </div>

    <article>

        <section class="fullPost">
            <%- include('../reciepts/drink-details') %>
        </section>

<!-- make this an if/else render for there are comments?-->
        <aside class="feed">
            <%- include('../reciepts/comments') %>
        </aside>

    </article>
</main>

  

<%- include('../../partials/footer') %>