<%- include('../partials/head') %>
<%- include('../partials/nav') %>


<main>
    <div>
        buttons to nav back / edit / interact go here<br>
        make this an if/else?    
    </div>

    <article>

        <section class="fullPost">
            <%- include('/patrons-id') %>
        </section>

<!-- make this an if/else render for there are no drinks yet? add a button instead?-->
        <aside class="feed">
            <%- include('/reciepts/tab-check') %>
        </aside>

    </article>
</main>

  

<%- include('../partials/footer') %>